@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-meenaya-teal: #45A086;
  --color-meenaya-purple: #E6D3FF;
  --color-meenaya-cream: #FDF9D2;
  --color-meenaya-maroon: #CF2F2A;
  --color-meenaya-gold: #E79300;
  --color-meenaya-text: #696B36;
  --font-serif: var(--font-cormorant);
  --font-sans: var(--font-manrope);
}

:root {
  --background: #FDF9D2;
  --foreground: #696B36;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #252525;
    --foreground: #FDF9D2;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif), serif;
}